<div class="btn-toolbar" role="toolbar" aria-label="Map toolbar">
  <div class="btn-group mr-2" role="group" aria-label="Map interactions">
    <button type="button" class="btn btn-secondary" (click)="reset()" title="Reset">
      <i class="fa fa-hand-paper-o"></i>
    </button>
    <button type="button" class="btn btn-secondary" [class.active]="currentInteraction === 'draw'" (click)="draw()" title="Draw">
      <i class="fa fa-plus-square-o"></i>
    </button>
    <button type="button" class="btn btn-secondary" [class.active]="currentInteraction === 'modify'" (click)="modify()" title="Modify">
      <i class="fa fa-pencil-square-o"></i>
    </button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Map exports">
    <button type="button" class="btn btn-secondary" (click)="exportAsPNG()">
      <i class="fa fa-file-image-o"></i>
    </button>
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-file-pdf-o"></i>
    </button>
    <button type="button" class="btn btn-secondary">7</button>
  </div>
</div>
