<div class="btn-toolbar" role="toolbar" aria-label="Map toolbar">
  <div class="btn-group mr-2" role="group" aria-label="Map interactions">
    <button type="button" class="btn btn-secondary" title="Reset">
      <i class="fa fa-hand-paper-o"></i>
    </button>
    <button type="button" class="btn btn-secondary" title="Select">
      <i class="fa fa-mouse-pointer"></i>
    </button>
    <button type="button" class="btn btn-secondary" title="Add">
      <i class="fa fa-pencil-square-o"></i>
    </button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Map exports">
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-file-image-o"></i>
    </button>
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-file-pdf-o"></i>
    </button>
    <button type="button" class="btn btn-secondary">7</button>
  </div>
</div>
