<div class="card-body layers-panel">
  <h6 class="text-muted">Basemaps</h6>
  <div class="form-check" *ngFor="let basemapLayer of basemapLayers">
    <input
      type="radio"
      class="form-check-input"
      name="basemap"
      [id]="basemapLayer.identifier"
      [checked]="basemapLayer.identifier === currentBasemap"
      (change)="changeBasemap(basemapLayer.identifier)"
    >
    <label class="form-check-label" [for]="basemapLayer.identifier">
      {{basemapLayer.name}}
    </label>
  </div>
  <h6 class="text-muted mt-3">Overlays</h6>
  <div class="form-check" *ngFor="let overlayLayer of overlayLayers">
    <input
      type="checkbox"
      class="form-check-input"
      [id]="overlayLayer.identifier"
      [checked]="currentOverlays.has(overlayLayer.identifier)"
      (change)="toggleOverlay(overlayLayer.identifier)"
    >
    <label class="form-check-label" [for]="overlayLayer.identifier">
      {{overlayLayer.name}}
    </label>
  </div>
</div>
