<div class="search-panel border-right">
  <div class="p-3 border-bottom">
    <form class="form-inline">
      <div class="form-group">
        <input id="search" type="text" class="form-control mb-2 mr-sm-2" placeholder="Search...">
        <button type="submit" class="btn btn-outline-secondary mb-2">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="search-results">
    <div class="list-group list-group-flush border-bottom">
      <a href="#" class="list-group-item list-group-item-action p-2">Cras justo odio</a>
      <a href="#" class="list-group-item list-group-item-action p-2">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-action p-2">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action p-2">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action p-2">Vestibulum at eros</a>
      </div>
  </div>
</div>
