<div class="search-panel">
  <div class="p-3 border-bottom">
      <div class="input-group mb-3">
        <input id="search "type="text" class="form-control" placeholder="Search..." aria-label="search">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
  </div>
  <div class="search-results">
    <div class="list-group list-group-flush border-bottom">
      <a href="#" class="list-group-item list-group-item-action p-2">Cras justo odio</a>
      <a href="#" class="list-group-item list-group-item-action p-2">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-action p-2">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action p-2">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action p-2">Vestibulum at eros</a>
      </div>
  </div>
</div>
