<div class="search-panel">
  <div class="p-3 border-bottom">
      <div class="input-group mb-3">
        <input #searchInput
          class="form-control"
          placeholder="Search..."
          aria-label="search"
          (keyup.enter)="search(searchInput.value)"
        >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary"
            (click)="search(searchInput.value)"
          >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
  </div>
  <div class="search-results">
    <div class="list-group list-group-flush border-bottom">
      <a href="#" class="list-group-item list-group-item-action p-2"
        *ngFor="let searchItem of searchItems"
        (click)="select(searchItem)"
      >
        {{ searchItem.name }}
      </a>
    </div>
  </div>
</div>
