<div class="main">
  <split
    gutterSize=5
    useTransition="true"
    [direction]="horizontal"
    (dragProgress)="onDragProgress()"
    (dragEnd)="onDragEnd()"
    (transitionEnd)="onTransitionEnd()"
  >
    <split-area [size]="sidePanelSize" order="0" [visible]="isSidePanelVisible">
      <app-side-panel></app-side-panel>
    </split-area>
    <split-area [size]="mapAreaSize" order="1">
      <app-map></app-map>
    </split-area>
    <split-area [size]="detailPanelSize" order="2" [visible]="isDetailPanelVisible">
      <app-country-detail></app-country-detail>
    </split-area>
  </split>
</div>
