$header-height: 55px;  // measured from bootstrap navbar header

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

main {
  padding-top: $header-height;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}
