<div class="layers-panel">
  <ul class="list-group">
    <li class="list-group-item border-0">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="basemap" id="basemap-1" value="1" checked>
        <label class="form-check-label" for="basemap-1">
          Basemap 1
        </label>
      </div>
    </li>
    <li class="list-group-item border-0">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="basemap" id="basemap-2" value="2" checked>
        <label class="form-check-label" for="basemap-2">
          Basemap 2
        </label>
      </div>
    </li>
    <li class="list-group-item border-0">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="basemap" id="basemap-3" value="3" checked>
        <label class="form-check-label" for="basemap-3">
          Basemap 3
        </label>
      </div>
    </li>
  </ul>
  <div class="layers"></div>
</div>
